profile-timeline{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
 }
 
 body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #F1F2F6;
 }
 
 h1 {
    text-align: center;
    font-weight: 300;
    color: #777
 }
 
 h1 span {
    font-weight: 600 !important;
 }
 
 .timeline-container {
    width: 80%;
    padding: 10px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
 }
 

 .timeline-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
 }
 
 .timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
 }
 
 .timeline-block-right {
    float: right;
 }
 
 .timeline-block-left {
    float: left;
    direction: rtl
 }
 
 .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #4FC1E9;
    margin-top: 10px;
    z-index: 9999
 }
 
 .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #666
 }
 
 .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 500
 }
 
 .timeline-content span {
    font-size: 15px;
    color: #4FC1E9;
    font-weight: 600;
 }
 
 .timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
 }
 
 .youtube-image{
     width: 240px;
     height: 135px;
 }

 iframe {
    width: 320px;
    height: 180px;
}


 @media screen and (max-width: 768px) {
    .timeline-container {
        width: 80%;
        padding: 10px 0;
        margin: 50px auto;
        position: relative;
        overflow: hidden;
     }
    
    .timeline-container:before {
       left: 8px;
       width: 2px;
    }
    .timeline-block {
       width: 100%;
       margin-bottom: 30px;
    }
    .timeline-block-right {
       float: none;
    }
 
    .timeline-block-left {
       float: none;
       direction: ltr;
    }

    .youtube-image{
        margin-top: 30px;
        width: 160px;
        height: 90px;
    }

    iframe {
        width: 192px;
        height: 108px;
    }
    

}
 




.profile-icons{
    margin: 20px 0px 60px 0px;
    text-align: center;
}
 .profile-icons ul {
	overflow: auto;
    text-align: center;
    margin: 0px 33px;

}


.profile-icons ul li {
	list-style-type: none;
    float: left;
}

.profile-icons ul li a i {
    background: #4FC1E9;
    color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 25px;
	text-align: center;
	margin-right: 15px;
	padding-top: 15%;
}


